body {
  background-image: url('https://static.vecteezy.com/system/resources/previews/002/110/724/original/stock-and-graph-design-background-business-graph-banner-design-free-vector.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  margin: 0;
}